@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: Inter, sans-serif !important;
}
p{
    font-size: 14px;
    font-weight: lighter;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    padding: 15px;
    border-radius: 6px !important;
}
.form-control{
    width: 100%;
    border-width: 1px;
    border-color: rgba(0,0,0,.15);
    border-radius: 6px;
    padding: 10px;
}
.form-control:focus{
    border-color: #54b946;
}
.text-dark{
    color: #000;
}
.text-success{
    color: #54b946;
}
.text-light{
    color: #6d6d6d;
}
.text-underline{
    text-decoration: underline;
}
