@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
*{
    font-family: Inter, sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: Catamaran,sans-serif !important;
    line-height: 1em;
}
p{
    font-size: 14px;
    font-weight: lighter;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    padding: 14px;
    border-radius: 0px !important;
}
.form-control{
    width: 100%;
    border-width: 1px;
    border-color: rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 8px;
}
.form-select{
    width: 100%;
    border-width: 1px;
    border-color: rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 7px;
}
.form-control:focus{
    border-color: #54b946;
}
.text-dark{
    color: #000;
}
.text-success{
    color: #54b946;
}
.text-light{
    color: #6d6d6d;
}
.text-underline{
    text-decoration: underline;
}
